CoberturasFianzas/Connected Services/ServiceReference1/ServiceExamen1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoberturasFianzas.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoberturasFianzas.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRamosModels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RamosModels" nillable="true" type="tns:RamosModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRamosModels" nillable="true" type="tns:ArrayOfRamosModels" />
  <xs:complexType name="RamosModels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RamosModels" nillable="true" type="tns:RamosModels" />
  <xs:complexType name="ArrayOfProductosModels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductosModels" nillable="true" type="tns:ProductosModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductosModels" nillable="true" type="tns:ArrayOfProductosModels" />
  <xs:complexType name="ProductosModels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idRamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductosModels" nillable="true" type="tns:ProductosModels" />
</xs:schema>