CoberturasFianzas/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49766/ServiceExamen.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49766/ServiceExamen.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49766/ServiceExamen.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CoberturasFianzas.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceExamen_BuscarRamos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRamos" />
  </wsdl:message>
  <wsdl:message name="IServiceExamen_BuscarRamos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarRamosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceExamen_BuscarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductos" />
  </wsdl:message>
  <wsdl:message name="IServiceExamen_BuscarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceExamen_VerificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceExamen_VerificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceExamen">
    <wsdl:operation name="BuscarRamos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceExamen/BuscarRamos" message="tns:IServiceExamen_BuscarRamos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceExamen/BuscarRamosResponse" message="tns:IServiceExamen_BuscarRamos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceExamen/BuscarProductos" message="tns:IServiceExamen_BuscarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceExamen/BuscarProductosResponse" message="tns:IServiceExamen_BuscarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceExamen/VerificarUsuario" message="tns:IServiceExamen_VerificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceExamen/VerificarUsuarioResponse" message="tns:IServiceExamen_VerificarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceExamen" type="tns:IServiceExamen">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarRamos">
      <soap:operation soapAction="http://tempuri.org/IServiceExamen/BuscarRamos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductos">
      <soap:operation soapAction="http://tempuri.org/IServiceExamen/BuscarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceExamen/VerificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceExamen" binding="tns:BasicHttpBinding_IServiceExamen">
      <soap:address location="http://localhost:49766/ServiceExamen.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>