CoberturasFianzas/Connected Services/ServiceReference1/ServiceExamen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49766/ServiceExamen.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CoberturasFianzas.Models" />
  <xs:element name="BuscarRamos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRamosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoberturasFianzas.Models" minOccurs="0" name="BuscarRamosResult" nillable="true" type="q1:ArrayOfRamosModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idRamos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CoberturasFianzas.Models" minOccurs="0" name="BuscarProductosResult" nillable="true" type="q2:ArrayOfProductosModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>